* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing:
    border-box; box-sizing: border-box;
}


h1, h2 {
    font-family: 'Rokkitt', serif;
    font-size: 4em; 
}

p{
    font-family: 'Roboto', sans-serif;
}

.logo{
    margin-top: 5vh;
}

#home {
    background-image: url("../images/bg_header.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;

    text-align: center;
    color:white;
  
    
}

.jumbotron{
    
    background: none;
    float: none;
    margin: auto;
    margin-top: 5vh;
}

/* css hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

/* barre de navigation  */
.navbar,
.navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
}

.nav li {
    float: none;
    display: block;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 1.7em;
  height: 10vh;
  width: 10vw;
  padding: 30px 25px 33px 25px;
  float: none;
  display: block;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  display: block;
}
.navigationContainer{
 float: none;
 position: absolute;
 z-index: 999;

 margin: 0px;
 height: 100vh;
 
 
 overflow: hidden;

 opacity: 0.97;
 background-color: #222222;

}
.humburgerContainer{
    position: absolute !important;
    right: 0;
    top: 0%;
    margin: 20px;

}
/* section logo */
.sectionLogo{
    text-align: center;
    margin-top:8px;
}

/* section nuage  */
.nuage{
    padding-left: 0;
}

.imageSection{
    height: 60vh;
    width: 100vw;  
    position: absolute;
}

.containerBlue{
    background-color: rgba(169, 234, 254,0.5);
    position: absolute;
    height: 60vh;
    width : 39vw;
    z-index: 299;
    text-align: center;
}

.ContainerCadre{
    z-index: 199;
    margin-top: 5%;

}

.cadre{
    margin-top: 10px;
  
}

.texteWhite{
    color : white;
    font-weight : bold;
}

.description {
    margin-top: 5% ;
}
/*Marge entre la section nuage en absolue et la section article velo */
#bas_corps
{
    margin-bottom: 67vh;
}

/* troisième section (avec le vélo) */

.descriptionBike{
    margin-top: 5%;
}
#pictureBike{
    width: 100vh;
    
    /*un max-width de 100% forcera les images à être soit plus petites que leur conteneur soit de la même largeur. */
    max-width: 100%;
    height: auto;
}



/* ecran medium tablette */
@media(min-width:600px){
    .responsive {
        width: 70%;
        min-width: 200px;
        height: auto;
    }
    .navigationContainer{
        
        width: 40vh;
        height: 100vh;
        font-size: 1.8em;
    }
    .containerBlue{
        background-color: rgba(169, 234, 254,0.5);
        position: absolute;
       
        height: 60vh;
        width : 46vw;
        z-index: 299;
        text-align: center;
    }
    .ContainerCadre{
        width: 36vh;
    }
   
}

/* ecran portable tablette et petit ordi */
@media (min-width: 600px) and (max-width:800px){
    .responsive {
        width: 80%;
        min-width: 200px;
        height: auto;
    }
    .navigationContainer{
        width: 30vh;
        height: 100vh;
       
    }
    .containerBlue{
        height: 60vh;
        width : 46vw;
        z-index: 299;
        text-align: center;
    
    }
    .description{
        margin-top: 20%;
    }
}

/* section galerie photo */
.

/* ecran portable  small et Extra small */
@media(max-width:767px){
    /** section header **/
    /* pour les logo responsive */
    .responsive {
        width: 80%;
        min-width: 200px;
        height: auto;
    }
    .navigationContainer{
        width: 30vh;
        height: 100vh;
       
    }

    /*section nuage */
    .containerBlue{
        height: 60vh;
        width : 100vw;
        z-index: 299;
        text-align: center;
    
    }
    .description{
        margin-top: 20%;
    }

    /*marge entre section nuage et article velo  */
    #bas_corps  
    {
        margin-bottom: 60vh;
    }
}
/* IPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

    .responsive {
        width: 80%;
        min-width: 200px;
        height: auto;
    }
    .navigationContainer{
        width: 30vh;
        height: 100vh;
        
    }
    .containerBlue{
        height: 60vh;
        width : 100vw;
        z-index: 299;
        text-align: center;
    
    }
    .description{
        margin-top: 20%;
    }

    #bas_corps  
    {
        margin-bottom: 60vh;
    }
    
}

/* ecran large lg laptop */
@media(min-width:992px){
    .responsive {
    width: 60%;
    min-width: 200px;
    height: auto;
}
.navigationContainer{
    margin: 0px;
    width: 50vh !important;
    height: 100vh;
    font-size: 1.3em;
   }
   .containerBlue {
    margin-left: 45% !important;
}
    
}

/* écran très large xl desktop tv */
@media(min-width:1200px){
    .responsive {
        width: 50%;
        min-width: 200px;
        height: auto;
        font-size: 1.3em;
    }
    .navigationContainer{
        
    width: 30vh;
    height: 100vh;
    
    }
    .containerBlue {
        width: 30vw;
        margin-left: 30% !important;
    }  

    #bas_corps  
    {
        margin-bottom: 60vh;
    }

    #pictureBike{
        width: 100vh;
        
        /*un max-width de 100% forcera les images à être soit plus petites que leur conteneur soit de la même largeur. */
        max-width: 100%;
        height: auto;
    }

    #article .container{
        width: 90%;
        margin: 10px;
    }
}

.border{
    border : 5px solid red;
}